*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    max-width: 100vw;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
}

/* Header */

header
{
    height: 20vh;
}

.top-commands
{
    text-align: right;
    position: relative;
    right: 5px;
}

.top-commands .btn-command
{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 14px;
    line-height: 25px;
    padding: 5px;
    cursor: pointer;
}


/* Main */

main 
{
    height: 80vh;
}

/* Call Participants */
.participants-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    padding: 50px;
    max-height: 70vh;
}

.participants-container .participant
{
    padding: 5px;
    position: relative;
}

.participants-container .participant::before
{
    content: 'Pinco Pallo';
    position: absolute;
    bottom: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Bottom bar */

.bottom-bar
{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 100%;
    background-color: #222222;
}

.bottom-bar .bottom-commands 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-bar .bottom-commands:nth-child(2)
{
    flex-grow: 1;
}
.bottom-bar .bottom-commands:last-child
{
    color: red;
    height: 100%;;
}
.bottom-bar .bottom-commands:last-child:hover{
    background-color: #4A4A4A;
}
.bottom-bar .bottom-commands .call-btn
{
    display: inline-block;
    padding: 10px;
}
.bottom-bar .bottom-commands .fas
{
    display: block;
    font-size: 24px;
    padding: 5px;
}

.bottom-bar .bottom-commands .fas .fa-angle-up
{
    display: inline-block;
    vertical-align: center;
    line-height: 100%;
    padding: 10px;
}

.bottom-bar